body {
    padding: 0;
    margin: 0;
    background: white;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #005BBB 50%, #FFD500 50%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title{
    margin: 0 auto 3rem auto;
    text-align: center;
}

ul{
    width: 100%;
    padding-left: 0;
    text-align: center;
}

li{
    display: inline-block;
    list-style-type: none;
    width: 20%;
    text-align: center;
}
li:nth-child(even){
    padding-left: 5%;
    padding-right: 5%;
}

.desc{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color:black;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
