body{
    margin: 10;
    padding: 10;
    background: linear-gradient(0deg,  #fff20080 60%, #344ceb80 60%);
}

.title{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    color: rgb(161, 16, 16);
    background: linear-gradient(0deg,  #fff20080 60%, #344ceb80 60%);

}

ul{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

ul li{
    transition: 3s;
}
.stats{
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.desc{
    color:black;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}